body {
    font-family: ui-sans-serif, system-ui, sans-serif;
    background: #111827;
    color: #f9fafb;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1.5rem;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
 .links { 
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 0.4rem 1.5rem;
    text-align: left;
}